<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>items</key>
 <array>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>http://nemopub2.oss-cn-beijing.aliyuncs.com/appdownload/new/app4.0_test_ios/Nemo.ipa</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>
    <string>com.ainemo.app</string>
    <key>bundle-version</key>
    <string>5.0.0.1566</string>
    <key>kind</key>
    <string>software</string>
    <key>subtitle</key>
    <string>AINEMO</string>
    <key>title</key>
    <string>在家</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>